

.connect-info{
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.login-info{
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.register-button .box{
    -fx-background-color: #2c2f33;
}
.register-button{
    -fx-font-weight: bold;
}

.register-button:selected .mark {
	-fx-background-color: white;
}